.education-section {
  max-width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: auto;
  margin-top: 100px;
  }
  
  .section-title {
    margin-bottom: 20px;
  }
  
  .education-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
  }
  
  .education-card {
    position: relative;
    padding: 20px;
    text-align: left;
    border-left: 2px dotted #ffffff;
  }

  .dot {
    position: absolute;
    height: 10px;
    width: 10px;
    background: #ffffff;
    border-radius: 50px;
    left: -6px;
    top: -6px;
  }
  
  .education-degree {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(72, 255, 0);
    margin-bottom: 5px;
  }
  
  .education-institution {
    font-size: 1rem;
    color: #a9a9a9;
    margin-bottom: 5px;
  }
  
  .education-year {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 10px;
  }

  .education-score {
  font-size: 0.9rem;
  color: #7d7d7d;
  margin: 5px 0;
  font-weight: bold;
}

  
  .education-description {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
  }
  
  /* Responsive Design */
  @media (min-width: 768px) {
    .education-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .education-card {
      flex: 0 0 48%;
    }
  }
  
  @media (min-width: 1024px) {
    .education-card {
      flex: 0 0 30%;
    }
  }
  