/* .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    padding: 20px;
} */

.hero {
    max-width: 70%;
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.hero-heading {
    font-size: 3.5em;
    max-width: 800px;
    margin-bottom: 15px;
}

.hero-heading span {
    background: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-description {
    font-size: 1.5em;
    margin-bottom: 25px;
    max-width: 800px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;font-size: 1.2em;
    font-weight: 500;
    padding: 15px 30px;
}

.btn-primary {
    background: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);
    transition: 0.5s;
}

.btn-primary:hover {
    border: 2px solid #fff;
}

.btn-secondary {
    border: 2px solid white;
}

.btn-secondary:hover {
    border-color: #B415FF;
}


@media(max-width:1024px) {
    .hero {
        max-width: 90%;
        gap: 30px;
        margin: 50px 0p;
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    .hero-heading {
        font-size: 3em;
    }

    .hero-description {
        font-size: 1.3em;
        padding: 0 10px;
    }

    .hero-photo img {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 480px) {
    .hero-heading {
        font-size: 2.5em;
    }

    .hero-description {
        font-size: 1.1em;
    }

    .hero-photo img {
        width: 140px;
        height: 140px;
    }

    .hero-buttons .btn {
        font-size: 1em;
        padding: 12px 25px;
    }
}
