.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero-profile-img {
    border-radius: 50%;
    margin-top: 100px;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.hero-profile-img img {
    width: 100%;
    height: 100%;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px ;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);
    cursor: pointer;
}

.hero-resume {
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}

.hero-connect:hover {
    border: 2px solid #fff;
}

.hero-resume:hover {
    border-color: #B415FF;
}

@media(max-width:768px) {
    .hero-profile-img {
        margin-top: 120px;
        width: 200px;
        height: 200px;
    }

    .hero h1 {
        margin-top: 40px;
        width: 90%;
        font-size: 40px;
    }

    .hero p {
        width: 90%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0 ;
    }

    .herro-action {
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect {
        padding: 10px 30px;
        border-radius: 40px;
        font-size: 20px;
    }

    .hero-resume {
        padding: 10px 50px;
        border-radius: 40px;
        font-size: 20px;
    }
}
