.about {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px ;
    margin: auto;
}

.about-title h1{
    font-size: 70px;
    font-weight: 600;
}

.about-sections {
    display: flex;
    gap: 80px;
}

.about-left {
    height: 400px;
    width: 680px;
    overflow: hidden;
}

.about-left img {
    width: 100%;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill {
    display: flex;
    gap: 50px ;
    align-items: center;
    transition: 0.3s;
}

.about-skill p {
    min-width: 120px;
    font-size: 20px;
    font-weight: 500;
}

.about-skill div {
    flex-grow: 1;
    border-right: 1px solid rgb(59, 59, 59);
    border-bottom: 1px solid rgb(59, 59, 59);
    border-radius: 50px;
    width: 100%;
}

.about-skill div hr {
    outline: none;
    border: none;
    /* width: 10px; */
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
}

.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    transition: 0.5s ;
}

.achievement h1 {
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
}

.achievement p {
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
}


@media(max-width:1024px) {
    .about {
        max-width: 90%;
        gap: 60px;
        margin: 50px 0p;
        padding: 0 20px;
        align-items: start;
    }

    .about-title h1 {
        font-size: 50px;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-right {
        gap: 60px;
    }

    .about-para {
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill {
        gap: 15px;
        align-items: center;
    }

    .about-skill p {
        font-size: 18px;
    }
    
    .about-skill hr{
        height: 6px;
    }

    .about-achievements {
        justify-content: space-between;
    }

    .about-achievement {
        gap: 10px;
    }

    .achievement h1 {
        font-size: 35px;
        font-weight: 600;
    }

    .achievement p {
        text-align: center;
        font-size: 15px;
    }
}

@media(max-width:425px) {

    .achievement h1 {
        font-size: 30px;
    }

    .achievement p {
        font-size: 10px;
    }

    .about-skill {
        display: flex;
        align-items: start;
        flex-direction: column;
    }

}
  