
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}

.navbar-logo {
    width: 90px;
}

.nav-mob-open,
.nav-mob-close {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-menu li {
    margin: 0 10px;
}

.anchor-link {
    text-decoration: none;
    color: #fff;
}

.anchor-link p {
    margin: 0;
    cursor: pointer;
    font-size: 1.3em;
    padding: 10px 0;
}

.active-menu {
    border-bottom: 2px solid #fff;
}

.nav-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);
    transition: 0.5s;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

.nav-connect .anchor-link {
    color: #fff;
}

@media (max-width: 1024px) {
    .navbar {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 20px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu li {
        font-size: 15px;
        padding-left: 100px;
    }



    .nav-connect {
        display: none;
    }
}

@media (max-width: 480px) {
    .navbar-logo {
        width: 80px;
    }

    .anchor-link p {
        font-size: 1em; 
    }
}
