.navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(45, 45, 45);
}
.logo {
    font-size: 35px;
    font-weight: bold;
    color: #eaeaea;
    font-family: 'Arial', sans-serif; /* Customize font */
    padding: 10px;
  }

.logo span {
    color: rgb(110, 110, 110);
}

.nav-mob-open,
.nav-mob-close {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.anchor-link {
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.anchor-link p {
    margin: 0;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all;
    transition-duration: 0.5s;
}

.anchor-link p:hover {
    background-color: #383838;
}

.nav-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);
    transition: 0.5s;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

.nav-connect .anchor-link {
    color: #fff;
}

@media (max-width: 1024px) {
    .navbar {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 20px;
        background-color: #363636de;
        width: 250px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 10px;
        left: 190px;
        width: 30px;
    }

    .nav-menu li {
        font-size: 15px;
        padding-left: 60px;
    }

    .nav-connect {
        display: none;
    }
}

@media (max-width: 480px) {
    .navbar-logo {
        width: 80px;
    }

    .anchor-link p {
        font-size: 1em; 
    }
}